/* header style */
.header{
    background-image: url(./img/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border-radius: 10px;
}

.header-sub-title{
    color: white;
    font-size: 30px;
    text-align: center;
    padding:  50px  350px;
}
.header-title{
    color: white;
    font-size: 75px;
    text-align: center;
    padding: 50px  350px;
    font-weight: 700;
}

/* section discount */
.discount{

}
.discount-offer{
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
}
.discount-offer-sub-title{
    color: red;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 10px;
}

.discount-offer-title{
    columns: black;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-top: 15px;
}
.discount-photo{
    height: 600px;
    width: 600px;
    margin: 0px 300px;
}

/* welcome section */
.welcome{
    background-image: url(./img/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border-radius: 10px;
    display: flex;
}
.welcome-title{
    color: white;
    font-size: 80px;
    padding: 50px 0px 0px 150px;
    width: 60%;
    margin-top: 50px;


}
.welcome-description{
    color: white;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-top: 0px;
    font-size: 25px;
    width: 70%;
    margin-bottom: 50px;
}


.only{
    padding-top: 200px;
    padding-right: 200px;
}

/* gardiyent start */
.gradient{
    background-image: linear-gradient(to top, white , pink);
    height: 400px;
    width: 80%;
    margin: 100px auto;
    
}
h3{
    display: inline-block;
}
.red{
    color: red;
}
button{
    color: white;
    background-color: red;
    border: none;
    padding: 5px;
    align-items: center;
    margin-bottom: 100px;
}


/* article */
article{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.box{
    height: 400px;
    width: 400px;
    background-color: red;
    border-radius: 50%;
    

}
.box >img{
  
    margin: 20px;
}

.article-title{
    font-weight: bold;
    font-size: 40px;
}
.article-sub-title{
    color: red;
    font-size: 20px;
}
.article-description{
    color: #474747;
    font-size: 15px;
}
.article-img{

}